{% extends "base.html" %}

{% block title1 %} 日期選擇和選項{% endblock title1 %}
{% block head %}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #fff;
    }

    .table tr:nth-child(even) {
        background-color: white;
    }

    .table tr:nth-child(odd) {
        background-color: white;
    }
</style>
<!-- <script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> -->
{% endblock %}
{% block content %}
<div class="container">
    <!-- 標題 -->
    <div class="row mt-3">
        <div class="col-md-12">
            <h1>1G-POE預測交期 | 模式切換</h1>
        </div>
    </div>
    <!-- 下拉選單和日期選擇器 -->
    <form method="POST" action="{{url_for('page2')}}">
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="select1">模式選擇</label>
                    <select class="form-control" id="mySelect" name="option_1G">
                        <option value="mode1">模式一</option>
                        <option value="mode2">模式二</option>
                        <option value="mode3">模式三</option>
                    </select>
                    <script>
                        const selectElement = document.querySelector('#mySelect');
                        selectElement.addEventListener('change', (event) => {
                            if (event.target.value === 'mode3') {
                                sessionStorage.setItem('selectedMode', event.target.value);
                                window.location.href = '1G_mode3';
                            }
                            else if (event.target.value === 'mode1' || event.target.value === 'mode2') {
                                sessionStorage.setItem('selectedMode', event.target.value);
                                window.location.href = '1G-POE';
                            }
                        });
                        const selectedMode = sessionStorage.getItem('selectedMode');
                        if (selectedMode) {
                            selectElement.value = selectedMode;
                        }
                    </script>
                </div>

            </div>
            <!-- 右半部分 -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="datepicker">選擇日期</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="datepicker" placeholder="範例：YYYY-MM-DD"
                            name="1G_date">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">搜尋</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>
   

    {% if option_1G %}
    <!-- 每日機台數量長條圖 -->
    <div class="row mt-3">
        <div class="col-md-12">
            {% if message %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endif %}
            <h5>每日機台數量</h5>
            <div id="chart"></div>
        </div>


    <!-- JavaScript代碼 -->

    <!-- JavaScript代碼 -->

    <script>
        var machine_num_need_1G = null;
        machine_num_need_1G = {{ predict_data.machine_num_need_1G | safe }};
        var data = [];

        var predict_date = new Date('{{ predict_date }}');

        // 將machine_num_1G的數據轉換成符合要求的格式
        var formattedData = [];

        if (machine_num_need_1G !== null) {

            formattedData = machine_num_need_1G.map(function (item) {
                var item_key = Object.keys(item)[0];
                if (item_key !== null) {
                    var date = new Date(item[item_key].date);
                    if (date > predict_date) {
                        var return_data = { date: date, count: item[item_key].number };
                        return return_data;
                    }
                }
            });
        }



        // 去掉null數據並按照日期排序
        formattedData = formattedData.filter(function (item) {
            return item !== null;
        }).sort(function (a, b) {
            return a.date - b.date;
        });

        // // 只保留最近的14筆數據
        var slicedData = formattedData.slice(-14);

        // // 將數據格式轉換回原始的日期格式
        for (var i = 0; i < slicedData.length; i++) {
            var this_date = slicedData[i];
            if (this_date !== undefined) {
                this_date = this_date.date.toISOString().slice(0, 10);
                console.log(this_date)
                data.push({
                    date: this_date,
                    count: slicedData[i].count
                });
            }

        }
        console.log(data);


        var margin = { top: 20, right: 20, bottom: 30, left: 50 },
            width = 1000 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;

        var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);

        var y = d3.scaleLinear()
            .range([height, 0]);

        var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        x.domain(data.map(function (d) { return d.date; }));
        y.domain([0, d3.max(data, function (d) { return d.count; })]);

        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        svg.append("g")
            .call(d3.axisLeft(y));

        svg.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .style("opacity", 0.25)
            .attr("x", function (d) { return x(d.date); })
            .attr("y", function (d) { return y(d.count); })
            .attr("width", x.bandwidth())
            .attr("height", function (d) { return height - y(d.count); })
            .on("mouseover", function (d) {
                d3.select(this).style("opacity", 0.75);
                svg.append("text")
                    .attr("class", "tooltip")
                    .attr("x", x(d.date) + x.bandwidth() / 2)
                    .attr("y", y(d.count) - 5)
                    .attr("text-anchor", "middle")
                    .text(d.count);
            })
            .on("mouseout", function (d) {
                d3.select(this).style("opacity", 0.25);
                svg.select(".tooltip").remove();
            })
            .on("mousemove", function (d) {
                svg.select(".tooltip")
                    .attr("x", d3.mouse(this)[0] + margin.left)
                    .attr("y", d3.mouse(this)[1] + margin.top - 10)
                    .text(d.count);
            });

    </script>


    <!-- 交期預測表格 
    <div class="row mt-3">
        <div class="col-md-12">
            <h5>交期預測</h5>
        </div>
    </div> -->
    
        <div class="col-md-12">
            <h5>交期預測</h5>
            <table class="table  table-bordered table-white table-hover">

                <thead>


                    <tr>
                        <th>訂單編號</th>
                        <th>下單日</th>
                        <th>料號</th>
                        <th>訂單數</th>
                        <th>客戶需求日</th>
                        <th>預測交期</th>
                    </tr>
                </thead>
                {% for d in predict_data["pq_1G"] %}
                {% for key, value in d.items() %}
                {% if "id" in value and value["status"] == false%}
                <style>
                    .red-text {
                        color: red;
                    }
                </style>
                <tr class="red-text">
                    <td>{{ value["id"] }}</td>
                    <td>{{ value["order_date"] }}</td>
                    <td>{{ value["type"] }}</td>
                    <td>{{ value["number"] }}</td>
                    <td>{{ value["need_date"] }}</td>
                    <td>{{ value["delivery_date"] }}</td>
                </tr>
                {% elif "id" in value %}
                <tr>
                    <td>{{ value["id"] }}</td>
                    <td>{{ value["order_date"] }}</td>
                    <td>{{ value["type"] }}</td>
                    <td>{{ value["number"] }}</td>
                    <td>{{ value["need_date"] }}</td>
                    <td>{{ value["delivery_date"] }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
    {%endif%}
</div>
{% endblock %}

<body>

</body>

</html>