{% extends "base.html" %}

{% block title1 %} 訂單新增{% endblock title1 %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% endblock %}
{% block content %}
<div class="container">
    <!-- 標題 -->
    <div class="row mt-3">
        <div class="col-md-12">
            <h1>訂單新增</h1>
        </div>
    </div>
    <!-- 下拉選單和日期選擇器 -->
        <form method="POST" action="{{url_for('add')}}">
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="select1">料號選擇</label>
                        <select class="form-control" id="select1" name ="add_id">
                            <option>1G-POE</option>
                            <option>10G</option>
                        </select>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group custom-input-width">
                            <label for="datepicker">訂單數</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="datepicker" placeholder="" name = "add_num">
                            </div>
                        </div>
                    </div>
            </div>

      
        <!-- 下半部分 -->   
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group custom-input-width">
                    <label for="datepicker">下單日</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="datepicker" placeholder="範例：YYYY-MM-DD" name = "add_order">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group custom-input-width">
                    <label for="datepicker2">顧客需求日</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="datepicker2" placeholder="範例：YYYY-MM-DD" name = "add_need">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" name="add_submit">新增</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if message %}
            <div class="alert alert-info">
              {{ message }}
            </div>
        {% endif %}
        </form>
        
      


{% endblock %}
<body>
    
</body>
</html>
