{% extends "base.html" %}

{% block title1 %} 日期選擇和選項{% endblock title1 %}
{% block head %}
<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    .table-striped tbody tr:nth-of-type(even) {
        background-color: #fff;
    }
</style>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <!-- 標題 -->
    <div class="row mt-3">
        <div class="col-md-12">
            <h1>訂單搜尋與刪除</h1>
        </div>
    </div>
    <!-- 下拉選單和日期選擇器 -->
    <div class="row mt-3">
        <form method="post" action="{{url_for('search')}}">
            <div class="col-md-12 d-flex justify-content-center">
            <div class="form-group">
              <label for="datepicker" >輸入訂單編號</label>
              <div class="input-group">
                <input type="text" class="form-control" id="datepicker" placeholder="" name="del_id">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" name="delete_submit">搜尋</button>
                </div>                     
              </div>
            </div>
          </div>
        </form>
    </div> 
          
  
    <!-- 下半部分 -->
    <div class="row mt-3">
        <!-- 上半部分 -->
        <div class="col-md-12">
            <h5>交期預測</h5>
        </div>
    </div>

    
   <!-- 下半部分 -->
<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>下單日</th>
                    <th>料號</th>
                    <th>訂單數</th>
                    <th>客戶需求日</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <input hidden value="123" type="text" class="form-control" id="datepicker" placeholder="" name="delete_id">
                    <td>2</td>
                    <td>3</td>
                    <td>2</td>
                    <td>3</td>
                    <td><button type="button" class="btn btn-danger btn-sm" name="delete_submit">刪除</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
<body>
    
</body>
</html>
